{% extends 'base.html.twig' %}

{% block title %}Hello MemberController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{pseudo}} ✅</h1>
    Mes articles : <br><br>
    
    {% for articles in articles %}
        <article>
            <h2>{{ articles.titre}}</h2>
            <div class="metadata">
                Ecrit le {{ articles.CreatedAt | date('d/m/Y') }} à {{ articles.CreatedAt | date('H:i') }} <br>
            </div>
            <div class="content">
                <img src="{{ articles.image}}" alt="" width="80%">
                </br>
                <p>{{ articles.content | raw }}</p>
                <br/>
            </div>
        </article>
    {% endfor %}
</div>
{% endblock %}