{% extends 'base.html.twig' %}

{% block title %}Page admin articles{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   <h2>Liste de tous les articles : </h2>
   <br>

    {% for view_articles in view_articles %}
    
    <b>{{ view_articles.titre }}</b><br>
    <img src="{{ view_articles.image}}" alt=""><br>
    {{ view_articles.content }} <br><a href=" {{ path('delete_article', {'id': view_articles.id} ) }}" class= "btn btn-danger">Supprimer l'article</a> <br><br>
    {% endfor %}

   
   
</div>
{% endblock %}