{% extends 'base.html.twig' %}

{% block body %}

{% if error %}
    <div class="alert alert-danger">
        <ul class="list-unstyled mb-0">
            <li><span class="initialism form-error-icon badge badge-danger">Error</span> 
                <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
            </li>
        </ul>
    </div>
{% endif %}
    {{form(form)}}
{% endblock %}