{% extends 'base.html.twig' %}

{% block title %}Hello MemberController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Espace personnel de : {{user.pseudo}}</h1><br>

Pseudo : {{user.pseudo}} <br> <br>
Adresse e-mail : {{user.email}}<br><br>
<img src="/uploads/avatars/{{user.avatar}}" alt="" width="100px" height="100px"><br><br>
{# src="uploads/avatars/" ~ user.avatar #}

<a href=" {{ path('personnalise') }}" class= "btn btn-primary">Personnalise ton profil</a><br><br>
<a href=" {{ path('member_articles') }}" class= "btn btn-primary">Mes articles</a><br><br>
<a href=" {{ path('member_commentaires') }}" class= "btn btn-primary">Mes commentaires</a><br><br>
    
</div>
{% endblock %}
