{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1>Articles de la catégorie {{ viewArt_categories.title }}</h1>


<div class="example-wrapper">

    {% for viewArt_categories in viewArt_categories.articles %}
   
    <article>
        <h2>{{ viewArt_categories.titre}}</h2>
        <div class="metadata">Ecrit le {{ viewArt_categories.CreatedAt | date('d/m/Y') }} à {{ viewArt_categories.CreatedAt | date('H:i') }} </div>
        <div class="content">
            <img src="{{ viewArt_categories.image}}" alt="">
            </br>
            <p>{{ viewArt_categories.content | raw }}</p>
            <br/>
        </div>
    </article>

    
    {% endfor %}
</div>
{% endblock %}