{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1>Catégories</h1>


<div class="example-wrapper">

    {% for view_categories in view_categories %}
    <a href="{{ path('categories_art',{'idCat':view_categories.id}) }}">{{ view_categories.title }}</a><br><br>
    {% endfor %}

    
</div>
{% endblock %}