{% extends 'base.html.twig' %}

{% block title %}Hello MemberController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{pseudo}} ✅</h1>
    Mes commentaires postés : <br><br>
    {% for comments in comments %}
            <p><i>Posté le {{ comments.CreatedAt | date('d/m/Y') }} à {{ comments.CreatedAt | date('H:i') }} :</i></p>
            <p>{{ comments.content }}</p><br>
    {% endfor %}
</div>
{% endblock %}