/*base*/
body{background: #ebeff2;}
.bck1{background: #fff;}


/*generique*/
.padded{padding: 15px;}

/*header*/
header#header {margin-bottom: 20px;padding: 10px;}
header#header h1 {text-align: center;color: #5cb85c;}

/*footer*/
footer#footer{margin-top: 20px;padding: 10px; }
footer#footer h4{text-align: center;color: #2084ac; font-size: 1em}
footer#footer p{text-align: center;color: #075c7e; font-size: 0.7em}