{% extends 'base.html.twig' %}

{% block title %}Page admin articles{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h2>Liste de tous les commentaires : </h2>

    {% for view_commentaires in view_commentaires %}
    <p><i>Posté le {{ view_commentaires.createdAt | date('d/m/Y') }} à {{ view_commentaires.createdAt | date('H:i') }} par <b>{{ view_commentaires.author }}</b></i></p>
    
    <p>{{ view_commentaires.content }}<br><a href=" {{ path('delete_commentaire', {'id': view_commentaires.id} ) }}" class= "btn btn-danger">Supprimer le commentaire</a></p> <br><br>

    {% endfor %}
   
</div>
{% endblock %}