{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
{% for article in articles %}
    <article>
            <h2>{{ article.titre}}</h2>
            <div class="metadata">
                Ecrit le {{ article.CreatedAt | date('d/m/Y') }} à {{ article.CreatedAt | date('H:i') }} <br>
                {#{% if article.author != null %}
                Auteur : {{ article.author }} <br>
                {% endif %}#}
                {% if article.user != null %}
                <p>Auteur : {{ article.user.pseudo}} <img src="/uploads/avatars/{{ article.user.avatar}}" alt="" width="50px" height="50px"></p>
                {% endif %}
                
            </div>
            <div class="content">
                <img src="{{ article.image}}" alt="" width="80%">
                <img src="/uploads/avatars/{{ article.image}}" alt="" width="80%">
                </br>
                <p>{{ article.content | raw }}</p>
                <br/>
                <a href="{{ path('blog_show' , {'id' : article.id} ) }}" class="btn btn-info">Lire la suite</a>
                {% if is_granted('ROLE_ADMIN') %}
                <a href=" {{ path('blog_edit', {'id': article.id} ) }}" class= "btn btn-primary">Modifier l'article</a> 
                {% endif %}
            </div>
    </article>
<br>
{% endfor %}
</div>
{% endblock %}
