{% extends 'base.html.twig' %}

{% block title %}Espace Administrateur{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    Bonjour ADMIN !!! Bienvenue sur l'espace de gestion : 

    <br><br>Vous êtes connecté en tant que : {{ user.pseudo }} <br>
    <img src="/uploads/avatars/{{ user.avatar}}" alt="" width="50px" height="50px">
    <p>Votre addresse email de connexion est : {{ user.email }}</p>


    <a href=" {{ path('admin_comptes') }}" class= "btn btn-primary">Afficher la liste des comptes</a><br><br>
    <a href=" {{ path('admin_commentaires') }}" class= "btn btn-primary">Afficher la liste commentaires</a><br><br>
    <a href=" {{ path('admin_articles') }}" class= "btn btn-primary">Afficher la liste des articles</a><br><br>
    
   
</div>
{% endblock %}