{% extends 'base.html.twig' %}

{% block title %}articles show{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="example-wrapper">
    <article>
        <h2>{{ view_article.titre}}</h2>
        <div class="metadata">
            Ecrit le {{ view_article.CreatedAt | date('d/m/Y') }} à {{ view_article.CreatedAt | date('H:i') }} 
        </div>
        <div class="metadata">
            Catégorie: {{ view_article.category.title }} 
        </div>
        <div class="content">
            <img src="{{ view_article.image}}" alt="">
            <img src="/uploads/avatars/{{ view_article.image}}" alt="">
            </br>
            <p><u> Contenu de l'article :</u> {{ view_article.content | raw }}</p> <br><br>
            <div class="espace com">
                <p><b><u>Commentaires sur l'articles : </u></b></p>
                {% for view_comment in view_comments %}  {# for comment in article.comments#}
                <p><i>Posté le {{ view_comment.CreatedAt | date('d/m/Y') }} à {{ view_comment.CreatedAt | date('H:i') }}</i></p>
                <p><b>Auteur :  {{ view_comment.author }}</b></p>
                <p>{{ view_comment.content }}</p>

                {% if is_granted('ROLE_ADMIN') %}
                <a href=" {{ path('delete_comment', {'id' : view_article.id, 'idComment': view_comment.id} ) }}" class= "btn btn-danger">Supprimer ce commentaire</a>
                {% endif %}

                <br><br>
                {% endfor %}
            </div>
        </div>
    
    
    {% if is_granted('ROLE_USER') %}
    <a href=" {{ path('post_comment', {'id': view_article.id} ) }}" class= "btn btn-primary">Ecrire un commentaire</a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href=" {{ path('blog_edit', {'id': view_article.id} ) }}" class= "btn btn-primary">Modifier l'article</a>
        <a href=" {{ path('delete_article', {'id': view_article.id} ) }}" class= "btn btn-danger">Supprimer l'article</a> 
    {% endif %}
    </article>
    <br>
    <a href=" {{ path('blog') }}" class= "btn btn-info">Retour à l'accueil</a>
</div>

{% endblock %}