{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %} 


{% block title %}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1>Création/modification d'articles</h1>

<div class="example-wrapper">
{{ form_start(formArticle) }}
{{form_row(formArticle.titre, {'attr': {'placeholder':'titre de l\'article'}} ) }}
{{ form_row(formArticle.content, {'attr': {'placeholder':'contenu de l\'article'}} ) }}
{{ form_row(formArticle.image, {'attr': {'placeholder':'lien de l\'image'}} ) }}
{{ form_row(formArticle.category) }}


{#
<select>
        {% for view_categories in view_categories %}
        <option>{{view_categories.title}}</option>
        {% endfor %}
</select>
#}

<button type="submit" class="btn btn-info">
        {% if editMode %}
            Sauver l'article
        {%  else %}
            Ajouter l'article
        {%  endif %}
        </button>
{{ form_end(formArticle) }}

</div>

{# <div class="example-wrapper">
        {{ form_start(formArticle) }}
        {{ form_widget(formArticle) }}
        
        {{ form_end(formArticle) }}
</div> #}

{#<div class="example-wrapper">
{{ form_start(formArticle)}}

<div class="form-group">
    <label for="">Titre</label>
    {{ form_widget(formArticle.titre) }}
</div>

<div class="form-group">
    <label for="">Contenu</label>
    {{ form_widget(formArticle.content) }}
</div>

<div class="form-group">
    <label for="">Image</label>
    {{ form_widget(formArticle.image) }}
</div>

{{ form_end(formArticle)}}
</div>



<br>
<form action="" method="post">
    <input type="text" name="titre" placeholder="titre"> <br>
    <textarea name="content" placeholder="contenu"></textarea><br>
    <input type="text" name="image" placeholder="image"><br><br>
    <button type="submit">Enregistrer</button>
</form> #}

{% endblock %}