{% extends 'base.html.twig' %}

{% block title %}Page admin articles{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   
    <h2>Liste des comptes : </h2>
<br>
    <h3><b>Membres : </b></h3>
    <br>
    {% for view_members in view_members %}
    {% if view_members.roles[0] != 'ROLE_ADMIN' %}
    <p>{{view_members.roles[0]}}<br><b>id</b> : {{ view_members.id }} &nbsp&nbsp  <b>Email</b> : {{ view_members.email }}<br>
     <b>Pseudo</b> : {{ view_members.pseudo }} &nbsp&nbsp <img src="/uploads/avatars/{{ view_members.avatar}}" alt="" width="50px" height="50px"></p>
     <a href=" {{ path('delete_compte', {'id': view_members.id} ) }}" class= "btn btn-danger">Supprimer le compte</a> <br><br>
     {% endif %}
     {% endfor %}
    <br><br><br>
    <h3><b>Administrateurs : </b></h3>
    {% for view_members in view_members %}
    {% if view_members.roles[0] == 'ROLE_ADMIN' %}
    <p>{{view_members.roles[0]}}<br><b>id</b> : {{ view_members.id }} &nbsp&nbsp  <b>Email</b> : {{ view_members.email }}<br>
     <b>Pseudo</b> : {{ view_members.pseudo }} &nbsp&nbsp <img src="/uploads/avatars/{{ view_members.avatar}}" alt="" width="50px" height="50px"></p>
     <a href=" {{ path('delete_compte', {'id': view_members.id} ) }}" class= "btn btn-danger">Supprimer le compte</a> <br><br>
     {% endif %}
    {% endfor %}
    <br>
   
</div>
{% endblock %}