{% extends 'base.html.twig' %}

{% block title %}Hello MemberController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{userTotal.pseudo}} ✅</h1>

    Pseudo : {{userTotal.pseudo}} <br>
    Adresse email : {{userTotal.email}}<br>
    <img src="/uploads/avatars/{{userTotal.avatar}}" alt="" width="100px" height="100px"><br><br>  
    
    {{form(form)}}

    - modifiez le pseudo<br>

</div>
{% endblock %}